<div id="car1">
    <button ion-button outline (click)="GoToMap()">Go to Map</button>
</div>
<div id="separador"></div>
<div *ngIf="!peperoni" id="car2">
  <h2><span>U</span>RGMAP</h2>
  <blockquote class="blockquote text-center">
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus dignissimos deserunt fugiat deleniti ex repellendus aut aliquam voluptatibus hic. Laboriosam enim possimus eveniet ipsum delectus magni cumque non hic? Repudiandae!</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
 
   
   
</div>
<google-maps *ngIf="peperoni"></google-maps>

<ion-footer>
  
  
    <ion-item>
      <ion-label *ngIf="peperoni">Google Map</ion-label>
      <ion-label *ngIf="!peperoni">URG</ion-label>
      <ion-toggle (ionChange)="change($event)" [(ngModel)]="peperoni"></ion-toggle>
    </ion-item>
  
 <ion-toolbar color="primary">
  <ion-tabs>
    <ion-tab tabIcon="heart" [root]="tab1"></ion-tab>
    <ion-tab tabIcon="star" [root]="tab2"></ion-tab>
  </ion-tabs>`
 </ion-toolbar>
</ion-footer>