<div id="car1">
  
  <ion-toolbar id="toolbar" *ngIf="peperoni">
    <ion-list>
      <ion-item>
        <ion-avatar item-start>
          <ion-icon name="map"></ion-icon>
        </ion-avatar>
        <h2>Provincias</h2>
        <p>vista de provincias</p>
        <button ion-button item-end outline (click)="GoToMap()">View Provincia</button>
      </ion-item>

      <ion-item>
        <ion-label position="floating"><ion-icon name="home"></ion-icon> Desde</ion-label>
        <ion-input [ngModel]="desde"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"><ion-icon name="car"></ion-icon> Hacia</ion-label>
        <ion-input [ngModel]="hacia"></ion-input>
      </ion-item>
      <ion-item>
        <button id="go" ion-button  outline >GO</button>
      </ion-item>
    </ion-list>
  </ion-toolbar>
</div>

<div id="separador"></div>
<div *ngIf="!peperoni" id="car2">
  <h2><span>U</span>RGMAP</h2>
  <blockquote class="blockquote text-center">
      <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus dignissimos deserunt fugiat deleniti ex repellendus aut aliquam voluptatibus hic. Laboriosam enim possimus eveniet ipsum delectus magni cumque non hic? Repudiandae!</p>
      <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>
 
   
   
</div>
<google-maps *ngIf="peperoni"></google-maps>

<ion-footer>
  
  
    <ion-item>
      <ion-label *ngIf="peperoni">Google Map</ion-label>
      <ion-label *ngIf="!peperoni">URG</ion-label>
      <ion-toggle (ionChange)="change($event)" [(ngModel)]="peperoni"></ion-toggle>
    </ion-item>
  
 <ion-toolbar color="primary">
    
 </ion-toolbar>
</ion-footer>