page-home {
 #logo{
     
     height: 150px;
     width: 350px;
     
 }
 ion-toolbar{
     height: 150px;
     width: 100%;
     
 }
 
 .toolbar-title-md{
     margin: 5px;
     font-size: 1.5rem;
     color: black;
 } 
}
